body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: linear-gradient(90deg, #575757, #202020);
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
}

.list-group-item {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

.list-group-item a {
    color: #007bff;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

/* Regole Footer Aggiornate per corrispondere allo style e all'HTML */
footer {
    color: white;
    background: linear-gradient(90deg, #575757, #202020);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Centra verticalmente */
    font-size: 16px;
    /* Leggermente ridotto per compattezza */
    /* Rimosso position: fixed per non coprire il contenuto in fondo */
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

footer a {
    position: relative;
    text-decoration: none;
    color: aqua;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: aqua;
    transition: width 0.4s ease;
}

footer a:hover::after {
    width: 100%;
}